    <% if notice %>
      <div class="bg-[#504661] text-white p-3 rounded mb-4">
         <%= notice %>
      </div>
    <% end %>

   <% if alert %>
      <div class="bg-[#504661] text-white p-3 rounded mb-4 border border-[#9368b3]">
         <%= alert %>
      </div>
   <% end %>